<!DOCTYPE html>
<html>
<head>
	<title>Project Falcon</title>
	<% content_for :javascript_includes do %>
	<%= javascript_include_tag "index2_1.js" %>
	<%= javascript_include_tag "index2_2.js" %>
	<%= javascript_include_tag "jquery.pageslide.min.js" %>
	<% end %>
	<%= csrf_meta_tag %>
</head>
<%= yield %>
</html>
